*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif; 
 }

  h1 {
    padding: 25px;
    text-align: center;
  }
  .mafu {
    color:rgb(95, 6, 10);
    background-image: linear-gradient( #fac0db, rgb(156, 162, 248));}

 .image {
        width: 100%;
        margin: 0 auto;
        padding-left: 60px;
}

<!--POSITION-->

*,html, body {
  margin: 0;
  padding: 0;
}
.kotak {
  width: 1000px;
  margin: 0 auto;
  border: 3px solid #000000;
}

.a {
    width : 100% ;
    height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.b {
  width: 50%;
  height: 100px;
  background-color: rgb(247, 167, 167);
 float: left;
 text-align: center;
}
.c {
  width: 50%;
  height: 100px;
  background-color: rgb(241, 206, 140) ;
  float: left;
  text-align: center;
}

.d {
  width: 33.3%;
  height: 100px;
  background-color: rgb(130, 252, 125) ;
  float: left;
  text-align: center;
}

.e {
  width: 33.3%;
  height: 100px;
  background-color: rgb(155, 253, 253) ;
  float: left;
  text-align: center;
}

.f {
  width: 33.3%;
  height: 100px;
  background-color: rgb(130, 167, 245) ;
  float: left;
  text-align: center;
}
  
  .g {
  width: 25%;
  height: 100px;
  background-color: rgb(255, 136, 255) ;
  float: left;
  text-align: center;
}

.h {
  width: 25%;
  height: 100px;
  background-color: rgb(117, 156, 95) ;
  float: left;
  text-align: center;
}

.i {
  width: 25%;
  height: 100px;
  background-color: rgb(199, 92, 73) ;
  float: left;
  text-align: center;
}


.j {
  width: 25%;
  height: 100px;
  background-color: rgb(143, 46, 255) ;
  float: left;
  text-align: center;

}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(245, 172, 112) ;
  clear: both;
  text-align: center;
}

*,html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 1024px;
    margin: 0 auto;
    border: 3px solid #000000;
    text-align: center;

  }
  
  header {
    width: 100%;
    height: 150px;
    background-color: pink ;
    text-align: center;

  }
  
  nav {
    width: 100%;
    height: 150px;
    background-color: #9bc4f8;
    text-align: center;

  }
  
  .content {
    width: 70%;
    height: 150px;
    background-color: rgb(219, 133, 133) ;
    float: left;
    text-align: center;

  }
  
  .sidebar {
    width: 30%;
    height: 150px;
    background-color: rgb(236, 236, 140) ;
    float: left;
    text-align: center;

  }
  
  footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(217, 140, 224) ;}